.columnar>*,
.small-columnar>*,
.b-columnar>* {
    font-size: 16px
}

[class*='columnar'] {
    font-size: 0
}

[class*='columnar']>* {
    font-size: 16px
}

[class*='columnar']>[class*='columnar'] {
    font-size: 0
}

.smaller-columnar {
    display: block
}

.smaller-columnar>* {
    display: inline-block;
    margin: 0
}

.smaller-columnar.smaller-one-column>* {
    width: 100%
}

.smaller-columnar.smaller-two-column>* {
    width: 50%;
    width: calc(50%)
}

.smaller-columnar.smaller-three-column>* {
    width: 33.33%;
    width: calc(100% / 3)
}

.smaller-columnar.smaller-four-column>* {
    width: 25%;
    width: calc(100% / 4)
}

@media (min-width: 540px) {
    .small-columnar {
        display: block
    }

    .small-columnar>* {
        display: inline-block;
        margin: 0
    }

    .small-columnar.small-two-column>* {
        width: 50%;
        width: calc(50%)
    }

    .small-columnar.small-three-column>* {
        width: 33.33%;
        width: calc(100% / 3)
    }

    .small-columnar.small-four-column>* {
        width: 25%;
        width: calc(100% / 4)
    }

    .small-columnar.small-40-60>*:nth-of-type(2n+1) {
        width: calc(40%)
    }

    .small-columnar.small-40-60>*:nth-of-type(2n) {
        width: calc(60%)
    }
}

@media (min-width: 960px) {
    .b-columnar {
        display: block
    }

    .b-columnar>* {
        display: inline-block;
        margin: 0
    }

    .b-columnar.b-two-column>* {
        width: 50%;
        width: calc(50%)
    }

    .b-columnar.b-three-column>* {
        width: 33.33%;
        width: calc(100% / 3)
    }

    .b-columnar.b-four-column>* {
        width: 25%;
        width: calc(100% / 4)
    }

    .b-columnar.b-three-column>.b-column-two-third {
        width: 66.66%;
        width: calc(200% / 3)
    }

    .b-columnar.b-three-column>.b-column-two-third+:not(.b-column-two-third) {
        padding-right: 0
    }
}

@media (min-width: 768px) {
    .columnar {
        display: block
    }

    .columnar>* {
        display: inline-block;
        margin: 0
    }

    .columnar.two-column>* {
        width: 50%;
        width: calc(50%)
    }

    .columnar.three-column>* {
        width: 33.33%;
        width: calc(100% / 3)
    }

    .columnar.four-column>* {
        width: 25%;
        width: calc(100% / 4)
    }
}

form .floatl {
    position: relative;
    box-sizing: border-box;
    padding: 0.5em 0;
    vertical-align: top
}

form .floatl .error {
    margin: 0;
    color: red
}

@media (min-width: 768px) {
    form .small-two-column .floatl {
        padding-left: 0.5em;
        padding-right: 0.5em
    }

    form .small-two-column .floatl label {
        left: 0.5em
    }

    form .small-two-column .floatl:nth-child(2n+1) {
        padding-left: 0
    }

    form .small-two-column .floatl:nth-child(2n+1) label {
        left: 0
    }

    form .small-two-column .floatl:nth-child(2n) {
        padding-right: 0
    }
}

@media (min-width: 960px) {
    form .b-three-column .floatl {
        padding-left: 0.5em;
        padding-right: 0.5em
    }

    form .b-three-column .floatl label {
        left: 0.5em
    }

    form .b-three-column .floatl:nth-child(3n+1) {
        padding-left: 0
    }

    form .b-three-column .floatl:nth-child(3n+1) label {
        left: 0
    }

    form .b-three-column .floatl:nth-child(3n) {
        padding-right: 0
    }

    form .b-two-column .floatl {
        padding-left: 0.5em;
        padding-right: 0.5em
    }

    form .b-two-column .floatl label {
        left: 0.5em
    }

    form .b-two-column .floatl:nth-child(2n+1) {
        padding-left: 0
    }

    form .b-two-column .floatl:nth-child(2n+1) label {
        left: 0
    }

    form .b-two-column .floatl:nth-child(2n) {
        padding-right: 0
    }
}

form input[type=text],
form input[type=file],
form input[type=email],
form input[type=date],
form textarea {
    background-color: #f8f8f8;
    color: #737373;
    border: 1px solid transparent;
    outline: transparent solid 0px;
    box-sizing: border-box;
    font-size: 1em;
    font-family: "Lato", Arial, sans-serif;
    width: 100%;
    height: 3rem;
    padding: calc(1.75em / 2) 0.5em;
    font-weight: 300;
    transition: border-color 0.15s ease-in-out, padding 0.35s ease-in-out, color 0.35s ease-in-out
}

form input[type=text]+label,
form input[type=file]+label,
form input[type=email]+label,
form input[type=date]+label,
form textarea+label {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    padding: 0 0.5em;
    transition: top 0.35s ease-in-out, opacity 0.35s ease-in-out, visibility 0.35s ease-in-out
}

form input[type=text].active,
form input[type=text][type="file"],
form input[type=text][type="date"],
form input[type=file].active,
form input[type=file][type="file"],
form input[type=file][type="date"],
form input[type=email].active,
form input[type=email][type="file"],
form input[type=email][type="date"],
form input[type=date].active,
form input[type=date][type="file"],
form input[type=date][type="date"],
form textarea.active,
form textarea[type="file"],
form textarea[type="date"] {
    padding: 1.5em 0.5em 0.25em
}

form input[type=text].active+label,
form input[type=text][type="file"]+label,
form input[type=text][type="date"]+label,
form input[type=file].active+label,
form input[type=file][type="file"]+label,
form input[type=file][type="date"]+label,
form input[type=email].active+label,
form input[type=email][type="file"]+label,
form input[type=email][type="date"]+label,
form input[type=date].active+label,
form input[type=date][type="file"]+label,
form input[type=date][type="date"]+label,
form textarea.active+label,
form textarea[type="file"]+label,
form textarea[type="date"]+label {
    color: #5a5a5a;
    top: 0.5em;
    opacity: 1;
    visibility: visible
}

form input[type=text]:hover,
form input[type=text]:focus,
form input[type=file]:hover,
form input[type=file]:focus,
form input[type=email]:hover,
form input[type=email]:focus,
form input[type=date]:hover,
form input[type=date]:focus,
form textarea:hover,
form textarea:focus {
    border-color: #ffc503;
    color: #5a5a5a
}

form input[type=text]:hover+label,
form input[type=text]:focus+label,
form input[type=file]:hover+label,
form input[type=file]:focus+label,
form input[type=email]:hover+label,
form input[type=email]:focus+label,
form input[type=date]:hover+label,
form input[type=date]:focus+label,
form textarea:hover+label,
form textarea:focus+label {
    color: #035d85
}

form input[type=text][readonly],
form input[type=file][readonly],
form input[type=email][readonly],
form input[type=date][readonly],
form textarea[readonly] {
    color: #9b9b9b;
    background-color: #dfdfdf
}

form input[type=file] {
    height: auto
}

form input[type=submit] {
    margin-top: 1em;
    margin-bottom: 1em
}

input[type=submit],
.button {
    background-color: #f7b200;
    color: white;
    border: none;
    padding: 0.75em 1em;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out
}

input[type=submit]:hover,
.button:hover {
    background-color: #ffc503;
    color: #5d5d5d
}

input[type=submit]:disabled,
.button:disabled {
    pointer-events: none;
    background-color: #737373;
    color: #dddddd
}

form .flash {
    font-size: 1.5em;
    font-weight: 600
}

form .flash.error {
    color: red
}

form .flash.notice {
    color: green
}

header .wrap {
    font-size: 0
}

header .wrap>* {
    font-size: 16px;
    display: inline-block
}

header {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 600
}

header a {
    font-weight: 400;
    color: inherit;
    text-decoration: none
}

header a:hover {
    color: #ffc503
}

@media (min-width: 1100px) {
    header ul {
        display: inline-block;
        list-style-type: none
    }

    header ul li {
        display: inline-block
    }
}

#logo {
    padding: 1rem 0;
    box-sizing: border-box;
    width: 100px;
    height: 60px;
    text-align: left;
    vertical-align: middle;
    margin: 0.5em 0;
    max-width: 50%
}

@media (min-height: 540px) {
    #logo {
        width: 200px;
        height: 120px
    }
}

#logo object {
    pointer-events: none;
    width: 100%
}

#menu {
    width: calc(100% - 200px / 2);
    min-width: 50%;
    text-align: right;
    vertical-align: middle;
    position: relative
}

@media (min-height: 540px) {
    #menu {
        width: calc(100% - 200px)
    }
}

#menu>* {
    display: inline-block
}

#menu #three-lines {
    display: inline-block;
    margin-right: 2em;
    transition: all 0.35s ease-in-out;
    vertical-align: middle
}

#menu #three-lines i {
    font-size: 1.5em
}

#menu #three-lines.active {
    transform: rotateZ(90deg)
}

@media (min-width: 1100px) {
    #menu #three-lines {
        display: none
    }
}

#menu .contact-info {
    color: #035d85;
    font-weight: 700
}

#menu .contact-info li {
    white-space: nowrap
}

#menu .contact-info i {
    margin-right: 0.25em;
    text-decoration: none
}

@media (max-width: 1099px) {
    #menu-responsive {
        display: block;
        z-index: 4;
        position: absolute;
        top: 100%;
        right: 0;
        border: 1px solid #5d5d5d;
        border-top: none;
        border-radius: 0 0 2px 2px;
        transition: all 0.35s ease-in-out;
        opacity: 0;
        visibility: hidden;
        background-color: white
    }

    #menu-responsive.active {
        visibility: visible;
        opacity: 1;
        top: calc(100% + 1em)
    }

    #menu-responsive ul li {
        padding: 0.5em 2.5em 0.5em 3em
    }

    #menu-responsive #main-menu ul li {
        border-bottom: 1px solid rgba(93, 93, 93, 0.35)
    }

    #menu-responsive #alt-menu {
        margin-top: 1em
    }

    #menu-responsive ul.inliner li {
        padding: 0.25em
    }

    #menu-responsive ul.inliner li:last-child {
        padding-right: 2.5em
    }

    ul {
        display: block;
        height: auto;
        width: auto;
        margin: 0
    }

    ul li {
        display: block
    }

    a {
        transition: color 0.35s ease-in-out
    }
}

@media (min-width: 1100px) {
    #alt-menu {
        display: block;
        font-size: 0.9rem;
        line-height: 1.2em;
        position: absolute;
        top: 0;
        right: 0
    }

    #alt-menu .fa {
        font-size: 1.2em;
        vertical-align: top
    }

    #alt-menu ul {
        padding: 0 0.5em;
        margin: 0;
        border-left: 1px solid #5d5d5d
    }

    #alt-menu ul:first-of-type {
        padding-left: 0
    }

    #alt-menu ul:last-of-type {
        padding-right: 0
    }

    #alt-menu ul li {
        padding: 0 0.5em
    }

    #alt-menu ul li:first-of-type {
        padding-left: 0
    }

    #alt-menu ul li:last-of-type {
        padding-right: 0
    }

    #alt-menu ul:first-of-type {
        border-left: none
    }

    #alt-menu a {
        transition: color 0.35s ease-in-out
    }

    #alt-menu a:hover {
        color: #ffc503
    }

    #main-menu {
        margin: 2.5em 0 0.5em
    }

    #main-menu ul {
        margin: 0
    }

    #main-menu ul li {
        font-size: 0.9rem;
        text-transform: uppercase;
        margin: 0 1em
    }

    #main-menu ul li:first-of-type {
        margin-left: 0
    }

    #main-menu ul li a {
        position: relative;
        transition: color 0.35s ease-in-out;
        padding-bottom: 0.125em
    }

    #main-menu ul li a::before {
        content: '';
        position: absolute;
        display: block;
        width: 0.75em;
        height: 0.75em;
        border-top: 0px solid #ffc503;
        border-left: 0px solid #ffc503;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 2px;
        opacity: 0;
        top: 0;
        left: 0;
        transition: opacity 0.25s ease-in-out, top 0.35s ease-in-out, left 0.35s ease-in-out, border-width 0.25s ease-in-out
    }

    #main-menu ul li a::after {
        content: '';
        position: relative;
        display: block;
        width: 0;
        border-bottom: 2px solid #ffc503;
        top: 0.0625em;
        left: 0;
        transition: width 0.15s ease-in-out, left 0.35s ease-in-out
    }

    #main-menu ul li a:hover,
    #main-menu ul li a .active {
        color: #ffc503
    }

    #main-menu ul li a:hover::before,
    #main-menu ul li a .active::before {
        border-top-width: 2px;
        border-left-width: 2px;
        top: -0.5em;
        left: -0.5em;
        opacity: 1
    }

    #main-menu ul li a:hover::after,
    #main-menu ul li a .active::after {
        width: 100%;
        left: 0.125em
    }
}

#menu-responsive+nav ul {
    display: inline-block
}

#menu-responsive+nav ul li {
    display: inline-block
}

#language-switcher {
    margin: 0.25em;
    margin-right: 0em
}

#language-switcher a {
    display: block;
    border: 1px solid #5d5d5d;
    margin: 0;
    padding: 0.25em;
    position: relative;
    transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out
}

#language-switcher a:hover {
    border-color: #ffc503;
    color: #ffc503
}

footer {
    color: white;
    font-weight: 300
}

footer ul {
    list-style-type: none
}

footer a {
    transition: color 0.2s ease-in-out;
    color: white;
    text-decoration: none
}

footer #sub-footer {
    background-color: #035d85;
    padding-top: 3em;
    padding-bottom: 3em
}

footer h3 {
    border-bottom: 2px solid #ffc503;
    font-size: 1.2em;
    font-weight: 400;
    padding-bottom: 0.5em;
    letter-spacing: 0.125em;
    display: inline-block;
    margin: 2em 0
}

footer p,
footer ul {
    margin: 0
}

footer .footer-div p,
footer .footer-div li {
    font-size: 1rem;
    margin-bottom: 1em;
    vertical-align: top
}

footer #footer-infos>* {
    vertical-align: top;
    box-sizing: border-box
}

@media (min-width: 868px) {
    footer #footer-infos>* {
        padding-left: 1em;
        padding-right: 1em
    }

    footer #footer-infos>*:nth-child(3n+1) {
        padding-left: 0;
        padding-right: 2em
    }

    footer #footer-infos>*:nth-child(3n+3) {
        padding-right: 0;
        padding-left: 2em
    }
}

@media (max-width: 867px) {
    footer #footer-infos>* {
        width: 100%
    }
}

footer #footer-infos a:hover {
    color: #ffc503
}

footer #ville-list li::before {
    content: '\f041';
    font-family: "FontAwesome";
    font-size: 0.8em;
    margin-right: 0.5em;
    vertical-align: baseline
}

footer #contact ul:not(.inliner)>li {
    font-size: 0;
    letter-spacing: 0;
    margin-bottom: 1rem
}

footer #contact ul:not(.inliner)>li>* {
    font-size: 1rem;
    vertical-align: middle
}

footer #contact ul:not(.inliner)>li i {
    width: 2.25em;
    /* height: 100%; */
    display: inline-block
}

footer #contact ul:not(.inliner)>li i+* {
    display: inline-block;
    width: calc(100% - 2.25em)
}

footer #contact .inliner>li {
    margin: 0 0.5em
}

footer #contact .inliner>li:first-of-type {
    margin-left: 0
}

footer #contact .inliner>li:last-of-type {
    margin-right: 0
}

footer #contact .inliner i {
    width: auto
}

footer #footer {
    background-color: #252525;
    color: white;
    position: relative;
    padding: 1.5em 0
}

footer #footer .left,
footer #footer .right {
    display: inline-block;
    font-size: 0.8rem
}

footer #footer .left>* {
    display: inline-block;
    border-left: 1px solid white;
    padding: 0 0.5em
}

footer #footer .left>*:first-child {
    border: none;
    padding-left: 0
}

footer #footer .right {
    text-align: right;
    position: relative
}

footer #footer .heart {
    color: red
}

footer #footer .proitek em {
    font-family: cursive;
    color: #74ac28;
    font-style: oblique;
    font-weight: bold;
    transition: inherit
}

footer #footer .proitek:hover {
    color: #ffc503
}

footer #footer #to-top {
    position: absolute;
    background-color: #252525;
    border: 1px solid black;
    border-bottom: none;
    padding: 0.5rem 0.6rem;
    display: block;
    top: -1.8rem;
    right: 3rem
}

footer #footer #to-top::before {
    content: '\f077';
    display: inline;
    font-family: "FontAwesome";
    font-size: 0.8rem;
    font-weight: 300;
    color: white
}

footer #our-services ul>li {
    padding: 0 0.25em;
    box-sizing: border-box
}

footer #our-services a {
    padding-left: 0.75rem;
    text-indent: -0.825rem;
    display: inline-block
}

footer #our-services a::before {
    content: "> ";
    font-weight: 600
}

.icon-rbq::before {
    content: 'rbq';
    display: inline-block;
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Montserrat", Arial, sans-serif;
    font-style: normal;
    letter-spacing: -0.125em
}

p a {
    text-decoration: none;
    border-bottom: solid 0.25em #ffc503;
    color: black;
    position: relative;
    transition: background-color 0.25s ease-in-out
}

p a:hover {
    background-color: #ffc503
}

.primary h1,
.primary h2 {
    color: black
}

main,
main [class*='columnar']>* {
    font-size: 17.6px
}

.heading .caption {
    display: block;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.02em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3
}

@media (min-width: 818px) {
    .heading .caption {
        font-size: 1.5em
    }
}

@media (min-width: 1060px) {
    .heading .caption {
        font-size: 2em
    }
}

.heading .caption .caption-wrapper,
.heading .caption .hook-wrapper {
    display: inline-block;
    width: auto;
    padding: 0.2em 1em;
    background-color: rgba(0, 0, 0, 0.4)
}

.heading .hook {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center
}

.heading em {
    color: #ffc503;
    font-style: normal
}

@keyframes popIn {
    0% {
        top: 0%;
        opacity: 0;
        transform: translateX(-50%) translateY(-50%)
    }

    50% {
        opacity: 0.15
    }

    100% {
        top: 50%;
        opacity: 1;
        transform: translateX(0%) translateY(-50%)
    }
}

@keyframes popOut {
    0% {
        top: 50%;
        opacity: 1;
        transform: translateX(0%) translateY(-50%)
    }

    50% {
        opacity: 0.15
    }

    100% {
        top: 0%;
        opacity: 0;
        transform: translateX(50%) translateY(-50%)
    }
}

#index-big-img {
    min-height: 50vh;
    height: 600px;
    max-height: 68vh;
    position: relative
}

#index-big-img.slideshow .slides>*[class*="trans-in"] .caption {
    animation-name: popIn;
    animation-duration: 1s
}

#index-big-img.slideshow .slides>*[class*="trans-out"] .caption {
    animation-name: popOut;
    animation-duration: 1s
}

.get-quote {
    background-color: #ffc503;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1.2em
}

.get-quote a {
    color: inherit;
    text-decoration: none
}

.get-quote .columnar>* {
    width: 100%;
    vertical-align: top
}

@media (min-width: 768px) {
    .get-quote .columnar>*:nth-child(2n+1) {
        width: 50%
    }

    .get-quote .columnar>*:nth-child(2n) {
        width: 50%
    }
}

.get-quote .left,
.get-quote .right {
    padding-top: 1em;
    padding-bottom: 1em
}

@media (min-width: 768px) {

    .get-quote .left,
    .get-quote .right {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        font-size: 1.1em
    }
}

.get-quote .right {
    background-color: #f7b200;
    text-transform: uppercase;
    text-align: right;
    font-weight: 300;
    font-family: "Lato", Arial, sans-serif;
    line-height: 1.2em;
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% - 2em);
    padding-left: 0em;
    padding-right: 1em;
    position: relative;
    right: -2em
}

@media (min-width: 768px) {
    .get-quote .right {
        padding-right: 2em
    }
}

.get-quote .right::before {
    content: '';
    width: 2em;
    height: 100%;
    background: linear-gradient(to right bottom, transparent 50%, #f7b200 50%);
    position: absolute;
    left: -2em;
    top: 0;
    display: block
}

.get-quote .right a:not([href^=tel])::after {
    content: "\f101";
    margin-left: 0.125em;
    font-size: 1.1em;
    font-weight: 400;
    font-family: "FontAwesome"
}

.get-quote .right a[href^=tel]::before {
    content: "\f095";
    margin-right: 0.125em;
    font-size: 1em;
    font-weight: 400;
    font-family: "FontAwesome"
}

.get-quote .right .underline+span {
    display: none;
    margin-left: 0.125rem;
    margin-right: 0.125rem
}

@media (min-width: 340px) and (max-width: 959px) {
    .get-quote .right .underline+span {
        display: inline
    }
}

@media (min-width: 1080px) {
    .get-quote .right .underline+span {
        display: inline
    }
}

.get-quote .right .tel {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem
}

.get-quote .right .underline {
    display: inline-block;
    width: auto;
    border: none
}

.get-quote .right .underline::after {
    content: '';
    display: block;
    position: relative;
    top: 0.125em;
    border-bottom: 2px solid white;
    width: 100%
}

#index-explain {
    text-align: center
}

#index-explain h1,
#index-explain h2 {
    margin: 2em 0
}

#index-explain .explain p {
    margin: 2em 0em 3em
}

@media (min-width: 1056px) {
    #index-explain .explain p {
        margin: 2em 6rem 3em
    }
}

.services h2 {
    margin-bottom: 4em
}

.services [class*='-column']>* {
    padding: 0 0.5em;
    box-sizing: border-box;
    vertical-align: top
}

.services img {
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1
}

@supports (display: inline-flex) {
    .services ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap
    }

    .services ul>li {
        display: inline-flex;
        flex-direction: column
    }

    .services ul>li img {
        flex: 0 0 auto
    }

    .services ul>li .services-content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start
    }

    .services ul>li .services-content .button-more {
        margin-top: auto
    }
}

.services a+.services-content,
.services span+.services-content {
    position: relative;
    left: 2em;
    top: -3em;
    z-index: 2;
    background-color: white;
    width: calc(100% - 2em);
    padding: 0.5em 1em;
    box-sizing: border-box;
    text-align: left
}

.services a+.services-content h3,
.services span+.services-content h3 {
    color: black;
    border-bottom: none;
    font-size: 1.1em;
    display: block;
    height: calc(2em + 1em - 1.2em)
}

.services a+.services-content>*,
.services span+.services-content>* {
    margin: 0;
    display: inline-block;
    position: relative
}

.services a+.services-content p,
.services span+.services-content p {
    margin: 1em 0;
    font-weight: 300;
    display: block
}

@media (max-width: 740px) and (min-width: 611px) {

    .services a+.services-content p,
    .services span+.services-content p {
        height: 4.8em
    }
}

.services a+.services-content .button-more,
.services span+.services-content .button-more {
    border: 1px solid #737373;
    padding: 0.5em;
    margin: 0.5em 0;
    font-size: 0.8em;
    text-transform: uppercase;
    color: #737373;
    text-decoration: none
}

.services a+.services-content .button-more:hover,
.services span+.services-content .button-more:hover {
    background-color: #dddddd
}

.background-faded {
    position: relative;
    background-size: cover;
    z-index: 1
}

.background-faded::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
    background-color: rgba(3, 93, 133, 0.87)
}

.background-faded>* {
    z-index: 3;
    position: relative;
    color: white
}

#bandeau-equipement {
    background-image: url("/img/bandeau-equipement.jpg")
}

#bandeau-equipement>* {
    padding-top: 4rem;
    padding-bottom: 4rem
}

#bandeau-equipement .service-title {
    display: inline-block;
    border: none;
    vertical-align: top;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0.5em;
    box-sizing: border-box
}

@media (min-width: 768px) {
    #bandeau-equipement .service-title {
        width: 45%
    }
}

@media (min-width: 960px) {
    #bandeau-equipement .service-title {
        padding-left: 4em
    }
}

#bandeau-equipement .service-title h2 {
    border-bottom: none;
    text-transform: normal;
    font-weight: 400;
    padding: 0.25em 0
}

#bandeau-equipement .service-title h2::after {
    content: '';
    display: block;
    max-width: 100px;
    width: 100%;
    position: relative;
    margin-top: 0.75em;
    border-bottom: 2px solid #ffc503
}

#bandeau-equipement .equipement {
    display: inline-block;
    font-size: 0;
    text-align: center
}

@media (min-width: 768px) {
    #bandeau-equipement .equipement {
        width: 55%
    }
}

#bandeau-equipement .equipement figure {
    display: inline-block;
    box-sizing: border-box;
    padding: 1em;
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    vertical-align: top
}

#bandeau-equipement .equipement figure img {
    height: 2.5em;
    width: auto;
    margin: 0.5em
}

#bandeau-equipement .equipement figure img.pelle {
    margin-left: 1em
}

#bandeau-equipement .equipement figure .qty {
    font-weight: 700;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 2em;
    width: auto;
    margin: 0.25em
}

#bandeau-equipement .equipement figure p {
    margin: 0.5em 0;
    font-size: 1rem;
    color: inherit
}

#bandeau-equipement .equipement figure>* {
    width: 100%
}

#index-support {
    padding: 1em 0
}

@media (min-width: 960px) {
    .b-columnar #index-quote {
        max-width: calc(50% - 1em);
        margin-right: 1em;
        vertical-align: top
    }

    .b-columnar #index-partner {
        max-width: 40%;
        margin-left: 1em;
        vertical-align: top
    }
}

.primary {
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: white
}

blockquote {
    font-style: italic;
    font-size: 1.1em;
    line-height: 1.4em;
    font-weight: 300;
    background-color: #f8f8f8;
    color: #737373;
    margin: 0;
    padding: 1.5em 1.5em 1em 4em;
    position: relative
}

blockquote cite {
    display: block;
    font-style: normal;
    font-size: 0.8em;
    margin: 1em 0 0
}

blockquote cite strong {
    font-weight: 600
}

blockquote::before,
blockquote::after {
    line-height: 0.75em;
    font-size: 5em;
    font-style: normal;
    font-weight: 600;
    font-family: Arial, sans-serif;
    color: #dddddd;
    position: absolute
}

blockquote::before {
    content: '\201C';
    top: 1rem;
    left: 1rem
}

blockquote::after {
    content: '\201D';
    top: 0;
    right: 0;
    color: #fcfcfc
}

@media (max-width: 539px) {
    #index-partner>.smaller-columnar.smaller-two-column>* {
        width: calc(100% / 2 - 0.5em);
        margin: 0.25em
    }

    #index-partner>.smaller-columnar.smaller-two-column>*:nth-child(2n+1) {
        width: calc(100% / 4 - 0.25);
        margin-left: 0
    }

    #index-partner>.smaller-columnar.smaller-two-column>*:nth-child(2n) {
        width: calc(100% / 4 - 0.25);
        margin-right: 0
    }
}

@media (min-width: 540px) {
    #index-partner>.small-columnar.small-four-column>* {
        width: calc(100% / 4 - 0.5em);
        margin: 0.25em
    }

    #index-partner>.small-columnar.small-four-column>*:nth-child(4n+1) {
        width: calc(100% / 4 - 0.25em);
        margin-left: 0
    }

    #index-partner>.small-columnar.small-four-column>*:nth-child(4n+4) {
        width: calc(100% / 4 - 0.25em);
        margin-right: 0
    }

    #index-partner>.small-columnar.small-four-column>*:nth-first-child(4-n) {
        margin-top: 0
    }

    #index-partner>.small-columnar.small-four-column>*:nth-last-child(-n+4) {
        margin-bottom: 0
    }
}

#index-partner>*>* {
    vertical-align: top
}

#index-partner figure {
    box-sizing: border-box;
    background-color: #f8f8f8;
    height: 71px;
    max-height: 100%;
    box-sizing: border-box;
    padding: 0.5em
}

#index-partner figure .img-wrapper {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    display: inline-block
}

#index-partner figure .img-wrapper img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

#index-partner figure .img-wrapper img[src='/images/bionest.png'] {
    max-width: 81px
}

#index-partner figure .img-wrapper img[src='/images/ecoflo.png'] {
    max-width: 56px
}

#index-partner figure .img-wrapper img[src='/images/enviroseptic.png'] {
    max-width: 81px
}

#index-partner figure .img-wrapper img[src='/images/enviro_step.png'] {
    max-width: 90px
}

#index-partner figure .img-wrapper img[src='/images/boise_roi.png'] {
    max-width: 70px
}

#index-partner figure .img-wrapper img[src='/images/sommet_lac.png'] {
    max-width: 70px
}

#index-partner figure .img-wrapper img[src='/images/pure_nature.png'] {
    max-width: 83px
}

#index-partner figure .img-wrapper img[src='/images/oree_village.png'] {
    max-width: 84px
}

#service-title {
    background-image: url("/img/bandeau-equipement.jpg")
}

aside {
    box-sizing: border-box;
    padding-right: 1em;
    vertical-align: top
}

aside ul.over-tablette {
    display: none
}

@media (min-width: 960px) {
    aside ul.over-tablette {
        display: block;
        list-style-type: none;
        margin: 0
    }

    aside ul.over-tablette li {
        font-weight: bold;
        font-family: "Montserrat", Arial, sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        margin: 0.2em 0
    }

    aside ul.over-tablette li:first-child {
        margin-top: 0
    }

    aside ul.over-tablette li a {
        display: block;
        padding: 0.8em;
        padding-right: 0.2em;
        background-color: #f8f8f8;
        color: #5a5a5a;
        color: inherit;
        text-decoration: none;
        transition: color 0.35s ease-in-out, background-color 0.15s ease-in-out
    }

    aside ul.over-tablette li a:hover,
    aside ul.over-tablette li a.current_page {
        background-color: #035d85;
        color: white
    }
}

@media (min-width: 960px) {
    .content-aside aside {
        width: 300px;
        box-sizing: border-box
    }

    .content-aside .content {
        width: calc(100% - 300px - 0.5em);
        margin-left: 0.5em;
        box-sizing: border-box
    }
}

.content {
    margin: 1rem 0 4rem
}

.content>div {
    margin: 2rem 0
}

.content .heading-image {
    width: 100%;
    height: 100%
}

.content .heading-image img {
    width: 100%;
    height: auto
}

.content h2 {
    color: black
}

.content p {
    line-height: 1.5em
}

.content .explain>div {
    margin: 0 0
}

.content .project-type {
    vertical-align: top;
    margin-top: 2em;
    margin-bottom: 2em
}

@media (min-width: 540px) {
    .content .project-type {
        margin-top: 0;
        margin-bottom: 0
    }
}

@media (min-widtH: 540px) {
    .content .project-type {
        padding-right: 1rem;
        box-sizing: border-box
    }
}

.content .project-type ul {
    list-style-type: none;
    font-size: 0
}

.content .project-type ul li {
    vertical-align: top;
    font-size: 1rem;
    margin: 1em 0;
    width: calc(50% - 2rem);
    display: inline-block;
    list-style: none;
    margin-left: 0;
    padding-left: 2rem;
    text-indent: -1.0rem
}

@media (min-width: 540px) {
    .content .project-type ul li {
        width: calc(100% - 2rem);
        display: block
    }
}

.content .project-type ul li::before {
    content: '\f00c';
    font-family: "FontAwesome";
    font-size: 1.2em;
    display: inline-block;
    margin-right: 1rem;
    width: 0rem;
    color: #ffc503
}

.content .project-type ul.oneline li {
    width: 100%;
    box-sizing: border-box
}

.content .why-us {
    vertical-align: top
}

@media (min-width: 768px) {
    .content .why-us {
        width: 60%
    }
}

.content-aside {
    margin: 5em 0
}

.content-aside .content {
    margin-top: 0
}

.content-aside .content>div:first-of-type {
    margin-top: 0
}

.content-aside .content>div:last-of-type {
    margin-bottom: 0
}

.get-quote.small-columnar {
    font-size: 0
}

.get-quote.small-columnar>div {
    vertical-align: middle;
    width: 100%
}

@media (min-width: 768px) {
    .get-quote.small-columnar>div:first-child {
        width: 45%
    }

    .get-quote.small-columnar>div:last-child {
        width: 55%
    }
}

.get-quote.small-columnar .left,
.get-quote.small-columnar .right {
    padding: 1em
}

@media (min-width: 768px) {

    .get-quote.small-columnar .left,
    .get-quote.small-columnar .right {
        padding: 1.5em 2em
    }
}

@media (min-width: 768px) {
    .get-quote.small-columnar .left {
        padding: 0em;
        padding-left: 1em
    }
}

.content>.explain.underline {
    margin: 0;
    padding: 1.5em 0;
    border-color: #ffc503
}

.content>.explain.underline>*:first-child {
    margin-top: 0
}

.content>.explain.underline>*:last-child {
    margin-bottom: 0
}

.values [class*="columnar"]>* {
    padding: 0.5em;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top
}

.values h3 {
    color: black;
    display: inline-block;
    margin: auto;
    border-bottom: 2px solid #dddddd;
    padding: 0.5em 0
}

.content h2 {
    margin-top: 0em
}

@media (max-width: 539px) {
    [class*="columnar"]>figure {
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width: 960px) {
    .under-tablette {
        display: none
    }
}

ul.breadcrumbs {
    margin: 5em 0 2rem
}

ul.breadcrumbs li {
    display: inline-block;
    color: rgba(93, 93, 93, 0.87);
    font-family: "Montserrat", Arial, sans-serif
}

ul.breadcrumbs li a {
    color: inherit;
    text-transform: normal;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.35s ease-in-out
}

ul.breadcrumbs li a::after {
    content: "\00BB";
    display: inline;
    margin: 0 0.5em
}

ul.breadcrumbs li:hover {
    color: #ffc503
}

ul.breadcrumbs li:last-child {
    color: #035d85
}

ul.breadcrumbs li:last-child::after {
    content: ""
}

.small-columnar.project-details>* {
    vertical-align: top
}

.small-columnar.project-details .slider {
    width: 100%;
    min-height: auto;
    margin-bottom: 1rem;
    box-sizing: border-box
}

@media (min-width: 768px) {
    .small-columnar.project-details .slider {
        width: calc(70% - 1em);
        margin-right: 1em
    }
}

.small-columnar.project-details .slider .prev,
.small-columnar.project-details .slider .next {
    display: block
}

.small-columnar.project-details .slider .slideshow {
    min-height: auto;
    padding-bottom: 75%
}

.small-columnar.project-details .details {
    width: 100%
}

@media (min-width: 768px) {
    .small-columnar.project-details .details {
        width: 30%
    }
}

.small-columnar.project-details .details :first-child {
    margin-top: 0
}

.small-columnar.project-details .details .infos {
    background-color: #f8f8f8;
    color: #737373;
    padding: 1em
}

.small-columnar.project-details .details .infos dl {
    margin: 0
}

.small-columnar.project-details .details .infos .def {
    display: inline-block;
    margin: 0.5em 1em;
    vertical-align: top
}

@media (min-width: 768px) {
    .small-columnar.project-details .details .infos .def {
        display: block;
        margin: 0.5em 0
    }
}

.small-columnar.project-details .details .infos dt,
.small-columnar.project-details .details .infos dd {
    line-height: 2em
}

.small-columnar.project-details .details .infos dt {
    font-weight: 300;
    margin-top: 1.5rem
}

.small-columnar.project-details .details .infos dd {
    color: #5a5a5a;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-style: normal;
    margin: 0
}

.small-columnar.project-details .details .infos .def:first-child,
.small-columnar.project-details .details .infos .def:first-child *:first-child {
    margin-top: 0
}

#contact-us h2 {
    margin-top: 1em;
    margin-bottom: 1em
}

@media (min-width: 768px) {
    #contact-us h2 {
        margin-top: 0;
        margin-bottom: 0.5em
    }
}

#contact-us>* {
    vertical-align: top;
    width: 100%
}

@media (min-width: 768px) {
    #contact-us .contact-form {
        width: 60%
    }
}

@media (min-width: 768px) {
    #contact-us .contact-form+div {
        width: 40%;
        padding-left: 2em;
        box-sizing: border-box
    }
}

#contact-us a.button {
    display: inline-block;
    text-decoration: none
}

#contact-us .contact-info a {
    text-decoration: none;
    color: inherit;
    transition: color 0.35s ease-in-out
}

#contact-us .contact-info a:hover {
    color: #ffc503
}

#contact-us .contact-info li {
    padding: 0.5rem 0;
    font-size: 0;
    letter-spacing: 0
}

#contact-us .contact-info li>* {
    vertical-align: middle;
    font-size: 0
}

#contact-us .contact-info i {
    width: 2.25rem;
    height: 100%;
    display: inline-block;
    font-size: 1.1rem;
    color: #f7b200
}

#contact-us .contact-info i+* {
    width: calc(100% - 2.25rem);
    display: inline-block;
    font-size: 1rem
}

#contact-us textarea {
    min-height: 10em
}

#gmaps {
    min-height: 50vh
}

.slideshow button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: 0.25em;
    margin-right: 0.25em;
    font-size: 2em;
    color: white;
    transition: color 0.35s ease-in-out;
    top: 50%;
    transform: translateY(-50%)
}

@media (min-width: 768px) {
    .slideshow button {
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size: 3em
    }
}

.slideshow button:hover {
    color: #ffc503;
    cursor: pointer;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
}

.slideshow .prev,
.slideshow .next {
    display: none
}

@media (min-width: 768px) {

    .slideshow .prev,
    .slideshow .next {
        display: block
    }
}

.slideshow .prev {
    left: 0
}

.slideshow .prev::before {
    font-family: "FontAwesome";
    content: '\f0d9'
}

.slideshow .next {
    right: 0
}

.slideshow .next::before {
    font-family: "FontAwesome";
    content: '\f0da'
}

.slideshow::after {
    background: none
}

.slideshow+.details {
    margin-top: 1em
}

@media (min-width: 768px) {
    .slideshow+.details {
        margin-top: 0
    }
}

#career>.b-columnar>* {
    vertical-align: top;
    margin: 2em 0;
    width: 100%
}

#career>.b-columnar>*:nth-child(2n) {
    text-align: center
}

@media (min-width: 960px) {
    #career>.b-columnar>*:nth-child(2n+1) {
        width: 60%
    }

    #career>.b-columnar>*:nth-child(2n) {
        width: 40%;
        box-sizing: border-box;
        padding-left: 2em
    }
}

@media (min-width: 768px) {
    .transport .three-column>* {
        margin-left: calc(100% / 9)
    }

    .transport .three-column>*:nth-child(2n) {
        margin-right: calc(100% / 9)
    }
}

.slideshow#project-slider {
    position: relative;
    height: 100%
}

.slideshow#project-slider::after {
    display: none
}

.slideshow#project-slider button {
    width: 1.25em
}

.values figure img {
    text-align: center;
    height: 100px;
    padding: 1rem;
    box-sizing: border-box
}

#calc-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7)
}

#calc-overlay button {
    position: absolute;
    top: 10%;
    right: 0;
    top: calc(10% - 1.5rem);
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 100%;
    border: 2px solid lightgrey;
    background-color: white;
    cursor: pointer;
    transition: all 0.10s ease-in-out
}

#calc-overlay button:hover {
    border-color: black;
    background-color: lightgrey;
    color: rgba(0, 0, 0, 0.8)
}

#calc-overlay.hidden {
    display: none
}

#calc-overlay .wrap {
    height: 100%;
    position: relative
}

#calc-overlay .wrap .frame {
    height: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: 1px solid lightgrey
}

.calc-sheet .frame {
    width: 100%;
    height: 100%;
    overflow: auto
}

.script {
    display: none
}

#calc-overlay .frame {
    padding: 2rem;
    box-sizing: border-box;
    left: 0;
    right: 0
}

#calc-overlay .frame [class*=-columnar]>* {
    vertical-align: bottom
}

#calc-overlay .frame form~[class*=-columnar]>* {
    vertical-align: top
}

@media (max-width: 959px) {
    #calc-overlay .frame .smaller-columnar>* {
        padding: 0.5rem 1rem;
        box-sizing: border-box
    }

    #calc-overlay .frame .smaller-columnar.smaller-one-column>* {
        padding-left: 0;
        padding-right: 0
    }

    #calc-overlay .frame .smaller-columnar.smaller-two-column>*:nth-child(2n+1) {
        padding-left: 0
    }

    #calc-overlay .frame .smaller-columnar.smaller-two-column>*:nth-child(2n+2) {
        padding-right: 0
    }
}

@media (min-width: 960px) {
    #calc-overlay .frame .b-columnar>* {
        padding: 0.5rem 1rem;
        box-sizing: border-box
    }

    #calc-overlay .frame .b-columnar.b-four-column>*:nth-child(4n+1) {
        padding-left: 0
    }

    #calc-overlay .frame .b-columnar.b-four-column>*:nth-child(4n+4) {
        padding-right: 0
    }

    #calc-overlay .frame .b-columnar.b-two-column>*:nth-child(2n+1) {
        padding-left: 0
    }

    #calc-overlay .frame .b-columnar.b-two-column>*:nth-child(2n+2) {
        padding-right: 0
    }
}

#calc-overlay .frame .notice {
    font-size: 0.9rem
}

#calc-overlay .frame table {
    border-collapse: collapse
}

#calc-overlay .frame table td,
#calc-overlay .frame table th {
    border: 1px solid black;
    box-sizing: border-box;
    padding: 0.25rem 1rem
}

html,
body {
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #5d5d5d
}

body {
    margin: 0;
    padding: 0;
    zoom: 1
}

main p {
    color: #404040
}

img {
    max-width: 100%
}

.full-width {
    max-width: 100%;
    width: 100%
}

.wrap {
    width: 100%;
    max-width: 1180px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto
}

@media (max-width: 1276px) {
    .wrap {
        padding-left: 48px;
        padding-right: 48px
    }
}

@media (max-width: 769px) {
    .wrap {
        padding-left: 2rem;
        padding-right: 2rem
    }
}

@media (max-width: 540px) {
    .wrap {
        padding-left: 1rem;
        padding-right: 1rem
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", Arial, sans-serif;
    margin: 0
}

h1 {
    text-transform: uppercase;
    font-weight: bold
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 1em 0;
    padding-bottom: 0.25em;
    border-bottom: 2px solid #f7b200;
    display: inline-block
}

ul {
    padding: 0;
    list-style-type: none
}

.inliner>* {
    display: inline-block
}

.solidary-line {
    white-space: nowrap
}

.underline {
    display: inline-block;
    width: auto;
    border-bottom-style: solid;
    border-bottom-width: 2px
}

figure {
    margin: 0
}

@keyframes quote-slider-slide-3 {
    0% {
        left: 0%
    }

    29% {
        left: 0%
    }

    33% {
        left: -100%
    }

    62% {
        left: -100%
    }

    66% {
        left: -200%
    }

    96% {
        left: -200%
    }

    100% {
        left: 0%
    }
}

.quote-slider {
    overflow: hidden;
    white-space: nowrap
}

.quote-slider .quote-slider-wrapper {
    overflow: visible;
    white-space: nowrap;
    position: relative;
    font-size: 0
}

.quote-slider .quote-slider-wrapper .quote-slide {
    display: inline-block;
    white-space: normal;
    width: 100%;
    vertical-align: middle;
    position: relative;
    left: 0%;
    font-size: 1.1rem;
    animation-name: quote-slider-slide-3;
    animation-duration: 24s;
    animation-iteration-count: infinite
}

nav.sort-project ul {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: auto;
    width: 100%;
    color: rgba(93, 93, 93, 0.87);
    font-family: "Montserrat", Arial, sans-serif;
    text-transform: uppercase
}

nav.sort-project ul>li {
    display: inline-block;
    margin: 0.5em
}

nav.sort-project ul>li>a,
nav.sort-project ul>li>.project-selector {
    text-decoration: none;
    color: inherit;
    transition: color 0.35s ease-in-out
}

nav.sort-project ul>li>a::after,
nav.sort-project ul>li>.project-selector::after {
    content: '';
    position: relative;
    display: block;
    width: 0;
    border-bottom: 2px solid #ffc503;
    top: 0.0625em;
    left: 0;
    transition: width 0.15s ease-in-out, left 0.35s ease-in-out
}

nav.sort-project ul>li>a.active,
nav.sort-project ul>li>.project-selector.active {
    pointer-events: none
}

nav.sort-project ul>li>a.active,
nav.sort-project ul>li>a:hover,
nav.sort-project ul>li>.project-selector.active,
nav.sort-project ul>li>.project-selector:hover {
    color: #ffc503
}

nav.sort-project ul>li>a.active::after,
nav.sort-project ul>li>a:hover::after,
nav.sort-project ul>li>.project-selector.active::after,
nav.sort-project ul>li>.project-selector:hover::after {
    width: 100%;
    left: 0.125em
}

.projects[class*="columnar"]>* {
    padding: 0.5em;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top
}

.projects[class*="columnar"] figure {
    position: relative;
    z-index: 2;
    vertical-align: middle
}

@media (min-width: 768px) {
    .projects[class*="columnar"] figure {
        transition: all 0.20s ease-in-out
    }
}

.projects[class*="columnar"] figure.hidden {
    display: none
}

@media (min-width: 768px) {
    .projects[class*="columnar"] figure.hidden {
        opacity: 0;
        display: inline-block;
        padding: 0;
        width: 0;
        transform: rotateY(90deg)
    }
}

.projects[class*="columnar"] figure figcaption {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: calc(0.5em + 3px);
    left: 0.5em;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out;
    color: white
}

.projects[class*="columnar"] figure figcaption>* {
    position: relative;
    z-index: 4
}

.projects[class*="columnar"] figure figcaption .project-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%)
}

.projects[class*="columnar"] figure figcaption h3 {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 300;
    font-style: italic;
    display: block
}

.projects[class*="columnar"] figure figcaption h3::after {
    content: '\f002';
    font-family: "FontAwesome";
    font-style: normal;
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 2px solid white;
    display: block
}

.projects[class*="columnar"] figure figcaption::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 3;
    background-color: #ffc503;
    opacity: 0.7;
    width: 100%;
    height: 100%
}

.projects[class*="columnar"] figure:hover figcaption {
    visibility: visible;
    opacity: 1
}

.employ ul>li {
    margin-bottom: 0.25rem;
    width: 100%
}

.employ a {
    width: 60%
}

.job-description {
    margin-bottom: 2rem
}

.job-description h2 {
    margin: 0.5rem 0
}

.job-description h3 {
    margin: 1.5rem 0 1rem
}

.job-description p,
.job-description ul {
    margin: 1rem 0
}

.job-description ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 0.25rem
}

.job-description li {
    margin: 0.25rem 0
}