<footer>
    <div id="sub-footer" class="max-width">
        <div class="wrap">
            <ul id="footer-infos" class="columnar three-column">
                <li class="footer-div" id="zones">
                    <h3>Services coverage</h3>
                    <p>St-Onge Group offers services in the following areas :</p>
                    <ul id="ville-list" class="smaller-columnar smaller-two-column">
                        <li>St-Hippolyte</li>
                        <li>St-Sauveur</li>
                        <li>Morin-Heights</li>
                        <li>Laurentides</li>
                        <li>Prévost</li>
                        <li>Mirabel</li>
                        <li>Ste-Sophie</li>
                        <li>Ste-Adèle</li>
                        <li>St-Jérôme</li>
                        <li>St-Colomban</li>
                    </ul>

                </li>
                <li class="footer-div" id="our-services">
                    <h3>Our services</h3>
                    {{ if eq .Site.Language.Lang "en" }}
                    <ul id="services-list" class="smaller-columnar smaller-two-column">
                        <li>
                            <a class="" href="/en/services/excavation-generale">Excavation générale</a>
                        </li>
                        <li>
                            <a class="" href="/en/services/analyse">Analyse de sol</a>
                        </li>
                        <li>
                            <a class="" href="/en/services/installation-septique">Installation septique</a>
                        </li>
                        <li>
                            <a class="" href="/en/services/mur-pierre">Mur de roches</a>
                        </li>
                        <li>
                            <a class="" href="/en/services/amenagement">Aménagement de terrain</a>
                        </li>
                        <li>
                            <a class="" href="/en/services/excavation-fondation">Excavation de fondation</a>
                        </li>
                        <li>
                            <a class="" href="/en/services/chemin">Chemin d'accès</a>
                        </li>
                        <li>
                            <a class="" href="/en/services/demolition">Démolition de bâtiment</a>
                        </li>
                        <li>
                            <a class="" href="/en/services/genie-civil">Génie civil</a>
                        </li>
                        <li>
                            <a class="" href="/en/services/deboisement">Déboisement</a>
                        </li>
                        <li>
                            <a class="" href="/en/services/deneigement">Déneigement municipal</a>
                        </li>

                        <li>
                            <a href="/transports">Livraison de matériaux</a>
                        </li>
                    </ul>
                    {{ else }}
                    <ul id="services-list" class="smaller-columnar smaller-two-column">
                        <li>
                            <a class="" href="/services/excavation-generale">Excavation générale</a>
                        </li>
                        <li>
                            <a class="" href="/services/analyse">Analyse de sol</a>
                        </li>
                        <li>
                            <a class="" href="/services/installation-septique">Installation septique</a>
                        </li>
                        <li>
                            <a class="" href="/services/mur-pierre">Mur de roches</a>
                        </li>
                        <li>
                            <a class="" href="/services/amenagement">Aménagement de terrain</a>
                        </li>
                        <li>
                            <a class="" href="/services/excavation-fondation">Excavation de fondation</a>
                        </li>
                        <li>
                            <a class="" href="/services/chemin">Chemin d'accès</a>
                        </li>
                        <li>
                            <a class="" href="/services/demolition">Démolition de bâtiment</a>
                        </li>
                        <li>
                            <a class="" href="/services/genie-civil">Génie civil</a>
                        </li>
                        <li>
                            <a class="" href="/services/deboisement">Déboisement</a>
                        </li>
                        <li>
                            <a class="" href="/services/deneigement">Déneigement municipal</a>
                        </li>

                        <li>
                            <a href="/transports">Livraison de matériaux</a>
                        </li>
                    </ul>
                    {{ end }}
                    
                </li>
                <li class="footer-div" id="contact">
                    <h3>Contact us</h3>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <a href="https://www.google.ca/maps/place/1075+Croissant+Des+Hauteurs,+Saint-Hippolyte,+QC+J8A+0A5/"
                                target="_blank">
                                <span class="solidary-line">1075 Croissant des Hauteurs,</span>
                                <span class="solidary-line">St-Hippolyte J8A 0A5</span>
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <a href="tel:4502240555">450.224.0555</a>
                        </li>
                        <li>
                            <i class="fa fa-fax"></i>
                            <a href="tel:4502244550">450.224.4550</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <a href="mailto:info@groupestonge.com">info@groupestonge.com</a>
                        </li>
                        <li>
                            <i class="icon-rbq"></i>
                            <span>2423-7190-25</span>
                        </li>
                    </ul>
                    <ul class="inliner">
                        <li><a href="https://www.facebook.com/Groupe-St-Onge-278956588912246/" target="_blank"><i
                                    class="fa fa-facebook"></i></a></li>
                        <li><a href="https://plus.google.com/110603726319670951985/about" target="_blank"><i
                                    class="fa fa-google-plus"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="footer" class="full-width">
        <div class="wrap small-columnar small-two-column">
            <div class="left">
                <div>© 2020 Groupe St-Onge</div>
                <div>All rights reserved</div>
            </div>

            <div class="right">
                <a class="proitek" href="http://bolean.ca/" target="_blank"> Created with <i
                        class="fa fa-heart heart"></i> by bolean</a>, <a class="proitek" href="http://proitek.ca"> a
                    division of Pro-iTek</a>
            </div>
        </div>

        <a href="#" id="to-top"></a>
    </div>

</footer>

<div id="pocket-extension-root">
    <div class="pocket-egasyq"></div>
</div>
<div id="pocket-extension-styles">
    <style data-emotion="pocket"></style>
</div>