<section id="index-big-img" class="full-width heading slideshow">
    <ul class="slides">
        <li class="slide" id="home-slider-3">
            <div class="wrap caption">
                <div class="caption-wrapper">
                    {{ if eq .Site.Language.Lang "en" }}
                        Expert <em>advice</em> = peace of mind
                    {{ else }}
                        CONSEILS D'<em>EXPERTS</em> = TRANQUILLITÉ D'ESPRIT
                    {{ end }}
                </div>
            </div>
        </li>
        <li class="slide" id="home-slider-1"></li>
        <li class="slide" id="home-slider-2"></li>
    </ul>
    <button class="next"></button><button class="prev"></button>
</section>
