<!DOCTYPE html>
<html>
<script async="" src="https://www.google-analytics.com/analytics.js"></script>
<script type="text/javascript">
    window["_gaUserPrefs"] = {
        ioo: function () {
            return true;
        }
    }
</script>
{{ $data := index .Site.Data .Site.Language.Lang }}
{{partial "head.html" . }}
<body>
    <div style="display: none;"></div>
  {{ partial "header.html" . }}
    <main role="main">
        <div class="full-width page-title background-faded heading" id="service-title">
            <h1 class="hook wrap">
                {{ $data.transports.hero_title | safeHTML  }}
            </h1>
        </div>
        <div class="full-width">



            <div class="wrap content">
                <div class="explain underline">
                    <p>{{ $data.transports.hero_text }}</p>
                </div>

                <div class="services transport">
                    <ul class="columnar three-column small-columnar small-two-column">
                    {{ range $data.transports.delivery }}
                        <li><a href="{{ .url_link }}">
                            <img src="{{ .image | relURL }}"
                                    alt="Livraison pierre 512"></a>
                            <div class="services-content">
                                <h3>{{ .title }}</h3>
                                <p>{{ .text }}</p>
                                <a class="button-more" href="{{.url_link}}">{{ .read_more }}</a>
                            </div>
                        </li>
                        {{end}}
                        [#&lt;Transport:0x0000000361e420 @key="pierre", @slug="livraison-pierre", @child=true&gt;,
                        #&lt;Transport:0x0000000361de08 @key="sable", @slug="livraison-sable", @child=true&gt;]
                        
                    </ul>
                </div>

                <div class="get-quote small-columnar">
                    <div>
                        <div class="left">
                            {{ $data.transports.quote_title }}
                        </div>
                    </div>
                    <div>
                        <div class="right">
                            <div class="underline">
                                <a href="{{ $data.transports.url }}">{{ $data.transports.quote_text }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="calc-overlay" class="calc-sheet hidden">
                <div class="wrap">
                    <div class="frame">
                        <form>
                            <h1>Calculateur</h1>
                            <div class="dimensions smaller-columnar b-columnar b-four-column smaller-two-column">
                                <div>
                                    <label for="longeur">Longeur (pieds)</label>
                                    <input type="text" id="longeur" value="0">
                                </div>
                                <div>
                                    <label for="largeur">Largeur (pieds)</label>
                                    <input type="text" id="largeur" value="0">
                                </div>
                                <div>
                                    <label for="hauteur">Hauteur (pouces)</label>
                                    <input type="text" id="hauteur" value="0">
                                </div>
                                <div>
                                    <label for="hauteur-pied">Hauteur (pieds)</label>
                                    <input type="text" id="hauteur-pied" readonly="" value="0">
                                </div>
                            </div>
                            <div
                                class="calculated-dimensions smaller-columnar b-columnar b-four-column smaller-two-column">
                                <div>
                                    <label for="pied-cube">Pieds cube</label>
                                    <input type="text" id="pied-cube" readonly="" value="0">
                                </div>
                                <div>
                                    <label for="metre-cube">Mètres cube</label>
                                    <input type="text" id="metre-cube" readonly="" value="0">
                                </div>
                                <div>
                                    <label for="verge-cube">Verge cube</label>
                                    <input type="text" id="verge-cube" readonly="" value="0">
                                </div>
                            </div>
                            <div class="mass-total smaller-columnar b-columnar b-four-column smaller-two-column">
                                <div>
                                    <label for="poids-materiaux">
                                        Poids des matériaux (tonnes/mètres cube)
                                    </label>
                                    <input type="text" id="poids-materiaux" value="0">
                                </div>
                                <div>
                                    <label for="total">Total (tonnes)</label>
                                    <input type="text" id="total" readonly="" value="0">
                                </div>
                                <div>
                                    <label for="total-compaction">
                                        Total avec compaction 10%
                                    </label>
                                    <input type="text" id="total-compaction" readonly="" value="0">
                                </div>
                                <div>
                                    <label for="verge-converti-cube">
                                        Verge cube converti tonnes
                                    </label>
                                    <input type="text" id="verge-converti-cube" readonly="" value="0">
                                </div>
                            </div>
                        </form>

                        <div class="b-columnar b-two-column smaller-columnar smaller-one-column">

                            <table>
                                <tbody>
                                    <tr>
                                        <th colspan="2">Poids des matériaux (tonnes/mètres cube)</th>
                                    </tr>
                                    <tr>
                                        <th>Poussière</th>
                                        <td>2.4</td>
                                    </tr>
                                    <tr>
                                        <th>0 - 3/4</th>
                                        <td>2.4</td>
                                    </tr>
                                    <tr>
                                        <th>0 - 2 3/4</th>
                                        <td>2.4</td>
                                    </tr>
                                    <tr>
                                        <th>0 - 1 3/4</th>
                                        <td>2.4</td>
                                    </tr>
                                    <tr>
                                        <th>Sable A</th>
                                        <td>1.7</td>
                                    </tr>
                                    <tr>
                                        <th>Sable B</th>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <th>Boulder/Rock</th>
                                        <td>2.2</td>
                                    </tr>
                                    <tr>
                                        <th>3/4 net</th>
                                        <td>1.6</td>
                                    </tr>
                                    <tr>
                                        <th>Top soil</th>
                                        <td>1.2</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <tbody>
                                    <tr>
                                        <th></th>
                                        <th>Verges</th>
                                        <th>Tonnes</th>
                                    </tr>
                                    <tr>
                                        <th>10 roues</th>
                                        <td>16</td>
                                        <td>15</td>
                                    </tr>
                                    <tr>
                                        <th>12 roues</th>
                                        <td>20</td>
                                        <td>19</td>
                                    </tr>
                                    <tr>
                                        <th>Semi (longeur boite 29')</th>
                                        <td>28</td>
                                        <td>25</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="notice">
                            <p>* Le calculateur de matériaux indiquent des valeurs approximatives basées sur les
                                informations que vous introduisez. Groupe St-Onge n’est pas responsable des erreurs
                                éventuelles.</p>
                        </div>
                    </div>
                    <button><i class="fa fa-times"></i></button>
                </div>
            </div>

            <script type="text/javascript">
                document.addEventListener("DOMContentLoaded", function () {
                    scriptable = document.getElementsByClassName("script");
                    for (var i = 0, len = scriptable.length; i < len; i++) {
                        scriptable[i].classList.remove("script");
                    }

                    overlay = document.getElementById("calc-overlay");
                    frame = overlay.getElementsByClassName("frame")[0];
                    closeBtn = document.createElement("button");
                    xBtn = document.createElement("i");
                    xBtn.classList.add("fa");
                    xBtn.classList.add("fa-times");
                    closeBtn.appendChild(xBtn);

                    document.getElementById("calc-open").addEventListener("click", function (e) {
                        e.preventDefault();
                        document.getElementById("calc-overlay").classList.remove("hidden");
                    });
                    closeBtn.addEventListener("click", function () {
                        document.getElementById("calc-overlay").classList.add("hidden");
                    });
                    frame.parentNode.appendChild(closeBtn);

                    inputs = frame.querySelectorAll("input[type=text]:not([readonly])");
                    for (var i = 0, len = inputs.length; i < len; i++) {
                        inputs[i].addEventListener("change", function () {
                            calc_all();
                        });
                        inputs[i].addEventListener("keyup", function () {
                            calc_all();
                        });
                    }
                });

                function calc_pied_hauteur() {
                    var a = document.getElementById("hauteur").value;
                    document.getElementById("hauteur-pied").value = (parseFloat(a) / 12).toFixed(2);
                }

                function calc_pied_cube() {
                    calc_pied_hauteur();
                    var a = document.getElementById("hauteur-pied").value;
                    var b = document.getElementById("largeur").value;
                    var c = document.getElementById("longeur").value;

                    document.getElementById("pied-cube").value = (parseFloat(a) * parseFloat(b) * parseFloat(c))
                        .toFixed(2);
                }

                function calc_metre_cube() {
                    calc_pied_cube();
                    var a = document.getElementById("pied-cube").value;
                    document.getElementById("metre-cube").value = (parseFloat(a) * 0.0283).toFixed(4);
                }

                function calc_verge_cube() {
                    var a = document.getElementById("metre-cube").value;
                    document.getElementById("verge-cube").value = (parseFloat(a) * 0.764).toFixed(2);
                }

                function calc_verge_cube_converti() {
                    calc_total();
                    var a = document.getElementById("total").value;
                    document.getElementById("verge-converti-cube").value = (parseFloat(a) * 0.9).toFixed(2);
                }

                function calc_total() {
                    var a = document.getElementById("poids-materiaux").value;

                    calc_metre_cube();
                    var b = document.getElementById("metre-cube").value;

                    document.getElementById("total").value = (parseFloat(a) * parseFloat(b)).toFixed(2);
                    document.getElementById("total-compaction").value = (parseFloat(a) * parseFloat(b) * 1.10).toFixed(
                        2);
                }

                function calc_all() {
                    calc_verge_cube_converti();
                    calc_verge_cube();
                }
            </script>




        </div>
    </main>
{{ partial "footer.html" . }}


    <div class="nsc-content-camera nsc-hide" style="top: 10px; left: 10px;">
        <div class="nsc-content-camera-buttons" flex="none" layout="row" layout-align="start start">
            <button class="nsc-content-camera-button nsc-hide" type="button" id="nsc_video_camera_collapse">
                <span class="nsc-icon nsc-icon-panel-collapse"></span>
            </button>
            <button class="nsc-content-camera-button" type="button" id="nsc_video_camera_expand">
                <span class="nsc-icon nsc-icon-panel-expand"></span>
            </button>
            <button class="nsc-content-camera-button" type="button" id="nsc_video_camera_close">
                <span class="nsc-icon nsc-icon-panel-close"></span>
            </button>
        </div>
        <div class="nsc-content-camera-container">
            <div class="nsc-content-camera-shadow"></div>
        </div>
    </div>
</body>

</html>